<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <form action="search" method="post">
        <label>姓名：</label><input type="text" name="userName">
        <input type="submit">
        <a th:href="@{new}" th:text="新增"></a>

    </form>

    <table border="1">
        <tr>
            <th>id</th>
            <th>姓名</th>
            <th>生日</th>
            <th>性别</th>
            <th>角色</th>
            <th>电话</th>
            <th>地址</th>
            <th>操作</th>
        </tr>
        <tr th:each="u:${users}">
            <td th:text="${u.id}"></td>
            <td th:text="${u.userName}"></td>
            <td th:text="${#dates.format(u.birthday,'yyyy-MM-dd')}"></td>
            <td th:if="${u.gender} eq 1">男</td>
            <td th:if="${u.gender} eq 2">女</td>
            <td th:text="${u.role.roleName}"></td>
            <td th:text="${u.phone}"></td>
            <td th:text="${u.address}"></td>
            <td><a th:href="@{/del(id=${u.id})}">删除</a><a th:href="@{get/}+${u.id}" th:text="修改"></a></td>
<!--        用ajax写的
    <td><a href="#" class="delete" th:attr="did=${u.id}" >删除</a></td>-->
        </tr>

    </table>
<!--    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.4.0/jquery.slim.js}"></script>-->
<!--    <script th: inline="javascript">-->
<!--        $(function () {-->
<!--            $(".delete").click(function () {-->
<!--                var o=$(this);-->
<!--                var id=o.attr("did");-->
<!--                $.ajax({-->
<!--                    url:"delete/"+id,-->
<!--                    dataType:"json",-->
<!--                    success:function (data) {-->
<!--                        if (data>0){-->
<!--                            o.parent().parent().remove();-->
<!--                        }-->
<!--                    }-->


<!--                })-->

<!--            })-->
<!--        })-->


<!--    </script>-->

</body>
</html>