<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="../update" method="post" th:Object="${user}">
        <input type="hidden" name="id" th:value="*{id}"/>
        <div>
            <label for="userName">用户名称：</label>
            <input type="text" name="userName" id="userName" th:value="*{userName}">
        </div>


        <div>
            <label >用户性别：</label>
            男：<input type="radio" name="gender" value="1" th:field="*{gender}"/>
            女：<input type="radio" name="gender" value="2" th:field="*{gender}"/>
        </div>
        <div>
            <label >出生日期：</label>
            <input type="text"  name="birthday" th:value="*{#dates.format(birthday,'yyyy-MM-dd')}">
        </div>
        <div>
            <label>用户电话：</label>
            <input type="text" name="phone" th:value="*{phone}">
        </div>
        <div>
            <label >用户地址：</label>
            <input name="address" id="address" th:value="*{address}">
        </div>
        <div>
            角色：
            <select name="userRole" id="userRole">
                <option th:each="r:${application.roles}" th:value="${r.id}" th:text="${r.roleName}" th:field="*{userRole}"></option>

            </select>
        </div>

        <div class="providerAddBtn">
            <input type="submit" name="add" id="add" value="修改" >
            <input type="button" id="back" name="back" value="返回" >
        </div>


    </form>
</body>
</html>